storage none
framework auto-detect
source https://www.nuget.org/api/v2

nuget Microsoft.NET.Test.Sdk < 17
nuget xunit
nuget xunit.runner.visualstudio

# for testing only
nuget System.Data.HashFunction.xxHash
