storage: none
framework: auto-detect
source https://www.nuget.org/api/v2

nuget System.Memory

nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio

clitool dotnet-xunit

# for testing only
nuget System.Data.HashFunction.xxHash

# implicitly imported but we want to control version
nuget System.Runtime.CompilerServices.Unsafe 4.5.1
